p {
  font-family: Ariel;
 height: 70px;
}

ul{
  background-color: lightblue; 
  height: 100px;
}

  ol{
    color: #b4cza7:
    width: 20px;
}
  
h1{
  background-color: red;
  color: #b4cza7;
}

  header{ 
    font-size: 16pt;
    font-size: bold 100-900
}
  
body{
  font-family:blue;
  font-size:red;
}

  footer{ 
    back-ground: pink;
    height: 100px;
}
